async-timeout==4.0.2
asyncio==3.4.3
feedparser==6.0.10
ffmpeg-python==0.2.0
heroku==0.1.4
openai==0.26.0
regex==2022.10.31
requests==2.25.1
systemd-python==234
virtualenv==20.13.0+ds
youtube-dl==2021.12.17
yt-dlp==2023.2.17
